@charset "UTF-8";
@font-face {
    font-family: titulo;
    src: url(fontes/Wonderly.otf);
}
*{
    margin: 0px;
    padding: 0px;
}
:root{
    --titulos:titulo;

}
body{
    background-color: rgba(211, 211, 211, 0.37);
}
main{
   
    max-width: 900px;
    min-width: 350px;
    background-color: white;
    margin: auto;
    border-radius: 5px;
    padding: 0px 0px 0px 0px;
}
header{
    background-image: linear-gradient(to right, rgb(133, 73, 245),rgb(8, 8, 63));
    padding: 30px 0px 30px 0px;
    border-radius: 5px;
    color: white; 
   
}
header h1{
    font-family: var(--titulos);
    font-size: 50px;
    text-shadow: 3px 3px 4px black;
    text-align: center;
}
header p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
}
a{
    color: white;
    text-decoration: none;
    
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: underline ;
}
section{
    padding: 10px 0px 10px 0px;
    line-height: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin: auto;
}
section p{
    text-align: center;
}
.paragrafos_juntos{
    padding-top: 20px;
}
#img01{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
}
#img02{
    background-image: url(imagens/background002.jpg);
    background-position: right center;
    background-size: cover;
}
.normal{
    background-image: url(https://img.freepik.com/fotos-gratis/cartao-branco-amassado_95678-119.jpg?semt=ais_hybrid);
    color: black;
}
.imagem{
    color: white;
    text-shadow: 0.5px 0.5px 0.5px black;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.589);
    background-attachment: fixed;
}
footer{
    background-color: black;
    text-align: center;
    color:white;
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
}
footer p{
    margin: 0px 0px 5px 0px;
}
#logo{
    width: 150px;
    height: 50px;
    display: inline-block;
    border-radius: 5px 5px;
}
div{
   
    border-radius: 10px;
    background-color: white;
}